# dependency directories
/node_modules
/client/node_modules
/server/node_modules

# build outputs
/dist
/client/dist
/client/.vite

# env files
.env
.env.local
/server/.env
/client/.env

# misc
.DS_Store
.vscode/
